# DS-SF-36 | Unit Project | 3 | Machine Learning Modeling and Executive Summary | Starter Code

In this project, you will perform a logistic regression on the admissions data we've been working with in Unit Project 1 and 2.  You will summarize and present your findings and the methods you used.

In [1]:
import os

import numpy as np
import pandas as pd
pd.set_option('display.max_rows', 10)
pd.set_option('display.max_columns', 10)
pd.set_option('display.notebook_repr_html', True)
%matplotlib inline

import statsmodels.formula.api as smf
import statsmodels.api as sm

from sklearn import linear_model
from sklearn import tree, externals
%load_ext gvmagic

C:\Users\jmiller16\AppData\Local\Continuum\Anaconda2\lib\site-packages\statsmodels\compat\pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

In [2]:
df = pd.read_csv(os.path.join('..','datasets', 'pets.csv'))
df.dropna(inplace = True)

df

       name animal   size  friendly
0        Bo  snake  small      True
1     Miles    dog  small      True
2      Fifi    cat  small     False
3     Muffy    cat  small      True
4     Rufus    dog  large      True
5  Jebediah  snail  small      True
6  Aloysius    dog  large     False
7       Tom    cat  large     False

In [3]:
X=df[['animal','size']]
c=df.friendly

In [4]:
names_df=pd.get_dummies(df.name)
animal_df=pd.get_dummies(df.animal)
size_df=pd.get_dummies(df['size'])

In [5]:
X=pd.concat([names_df,animal_df,size_df] ,axis=1)

In [6]:
X

   Aloysius  Bo  Fifi  Jebediah  Miles  ...    dog  snail  snake  large  small
0         0   1     0         0      0  ...      0      0      1      0      1
1         0   0     0         0      1  ...      1      0      0      0      1
2         0   0     1         0      0  ...      0      0      0      0      1
3         0   0     0         0      0  ...      0      0      0      0      1
4         0   0     0         0      0  ...      1      0      0      1      0
5         0   0     0         1      0  ...      0      1      0      0      1
6         1   0     0         0      0  ...      1      0      0      1      0
7         0   0     0         0      0  ...      0      0      0      1      0

[8 rows x 14 columns]

In [7]:
c

0     True
1     True
2    False
3     True
4     True
5     True
6    False
7    False
Name: friendly, dtype: bool

In [8]:
model=tree.DecisionTreeClassifier().fit(X,c)

In [9]:
model.score(X,c)

1.0

In [10]:
!pip install graphviz

Requirement already satisfied: graphviz in c:\users\jmiller16\appdata\local\continuum\anaconda2\lib\site-packages

In [11]:
!pip install gvmagic

Requirement already satisfied: gvmagic in c:\users\jmiller16\appdata\local\continuum\anaconda2\lib\site-packages

In [13]:
# dot_data = externals.six.StringIO()
# tree.export_graphviz(model, out_file = dot_data, feature_names = X.columns)
# %dotstr dot_data.getvalue()

In [17]:
# df['name_le4']=df[len(df.name.str)<=4]
df['has_4_letter']= df.name.str.len()<=4
df['start_with_a']= df.name.str.startswith('A')

In [18]:
df

       name animal   size  friendly  has_4_letter  start_with_a
0        Bo  snake  small      True          True         False
1     Miles    dog  small      True         False         False
2      Fifi    cat  small     False          True         False
3     Muffy    cat  small      True         False         False
4     Rufus    dog  large      True         False         False
5  Jebediah  snail  small      True         False         False
6  Aloysius    dog  large     False         False          True
7       Tom    cat  large     False          True         False

In [19]:
X

   Aloysius  Bo  Fifi  Jebediah  Miles  ...    dog  snail  snake  large  small
0         0   1     0         0      0  ...      0      0      1      0      1
1         0   0     0         0      1  ...      1      0      0      0      1
2         0   0     1         0      0  ...      0      0      0      0      1
3         0   0     0         0      0  ...      0      0      0      0      1
4         0   0     0         0      0  ...      1      0      0      1      0
5         0   0     0         1      0  ...      0      1      0      0      1
6         1   0     0         0      0  ...      1      0      0      1      0
7         0   0     0         0      0  ...      0      0      0      1      0

[8 rows x 14 columns]

In [20]:
X.drop(['cat','large'], axis=1, inplace=True)

In [21]:
X

   Aloysius  Bo  Fifi  Jebediah  Miles  ...    Tom  dog  snail  snake  small
0         0   1     0         0      0  ...      0    0      0      1      1
1         0   0     0         0      1  ...      0    1      0      0      1
2         0   0     1         0      0  ...      0    0      0      0      1
3         0   0     0         0      0  ...      0    0      0      0      1
4         0   0     0         0      0  ...      0    1      0      0      0
5         0   0     0         1      0  ...      0    0      1      0      1
6         1   0     0         0      0  ...      0    1      0      0      0
7         0   0     0         0      0  ...      1    0      0      0      0

[8 rows x 12 columns]

In [30]:
model = linear_model.LogisticRegression(penalty = 'l1', C =1000).fit(X,c)

In [31]:
model.score(X,c)

1.0

In [32]:
model.coef_

array([[ -6.92464807,   0.        , -14.30724815,   0.        ,
          0.        ,   0.        ,   6.90669457,  -6.90673429,
          0.        ,   0.        ,   0.        ,   7.50864156]])

In [33]:
np.logspace(2,-4,10)

array([  1.00000000e+02,   2.15443469e+01,   4.64158883e+00,
         1.00000000e+00,   2.15443469e-01,   4.64158883e-02,
         1.00000000e-02,   2.15443469e-03,   4.64158883e-04,
         1.00000000e-04])

In [34]:
coefs_df = pd.DataFrame(columns=X.columns)
coefs_df

Empty DataFrame
Columns: [Aloysius, Bo, Fifi, Jebediah, Miles, Muffy, Rufus, Tom, dog, snail, snake, small]
Index: []

[0 rows x 12 columns]

In [ ]:
for C in np.logspace(2,-4,10):
    model = linear_model.LogisticRegression(penalty = 'l1', C = C).fit(X,c)

In [1]:
!pip install TextBlob

Collecting TextBlob
  Downloading textblob-0.13.0-py2.py3-none-any.whl (631kB)
Requirement already satisfied: nltk>=3.1 in c:\users\jmiller16\appdata\local\continuum\anaconda2\lib\site-packages (from TextBlob)
Requirement already satisfied: six in c:\users\jmiller16\appdata\local\continuum\anaconda2\lib\site-packages (from nltk>=3.1->TextBlob)
Installing collected packages: TextBlob
Successfully installed TextBlob-0.13.0

In [2]:
!python --version

Python 2.7.13 :: Anaconda 4.4.0 (64-bit)

In [3]:
!pip install nltk

Requirement already satisfied: nltk in c:\users\jmiller16\appdata\local\continuum\anaconda2\lib\site-packages
Requirement already satisfied: six in c:\users\jmiller16\appdata\local\continuum\anaconda2\lib\site-packages (from nltk)

In [1]:
import nltk

In [2]:
nltk.download()

showing info https://raw.githubusercontent.com/nltk/nltk_data/gh-pages/index.xml

True